<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-white bg-dark">
        <h4 class="modal-title" id="modal-basic-title">Hey, Got new book!</h4>
        <button type="button" class="close text-white" style="outline: none;" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding: 30px;">
        <form [formGroup]="addBookForm" (ngSubmit)="functionOnSubmit()">
            <div class="form-group">
                <label>Book Name</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.bookName.errors }" formControlName="bookName" type="text" class="form-control" placeholder="Enter Book Name" />

                <div *ngIf="submitted && f.bookName.errors" class="invalid-feedback">
                    <div *ngIf="f.bookName.errors.required">Book Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Author</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.bookAuthor.errors }" formControlName="bookAuthor" type="text" class="form-control" placeholder="Enter Author Name" />

                <div *ngIf="submitted && f.bookName.errors" class="invalid-feedback">
                    <div *ngIf="f.bookAuthor.errors.required">Author Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Publisher</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.bookPublisher.errors }" type="text" class="form-control" formControlName="bookPublisher" placeholder="Enter Publisher Name" />

                <div *ngIf="submitted && f.bookPublisher.errors" class="invalid-feedback">
                    <div *ngIf="f.bookPublisher.errors.required">Publisher Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Book Pdf</label>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" (change)="onFileSelected($event)" id="bookFile" formControlName="bookFile" accept=".pdf" />
                    <label *ngIf="this.fileToUpload == null" class="custom-file-label">Choose file</label>
                    <label *ngIf="this.fileToUpload != null" class="custom-file-label">{{ this.fileToUpload.name }}</label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #viewpdfcontent let-c="close" let-d="dismiss">
    <div class="modal-header text-white bg-dark">
        <h4 class="modal-title" id="modal-basic-title">Hey, Got new book!</h4>
        <button type="button" class="close text-white" style="outline: none;" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding: 30px;">
        <iframe [src]="getBookURL()" width="100%" height="500px"> </iframe>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Save click')">Close</button>
    </div>
</ng-template>

<div class="row">
    <div class="col-md-3 h-100" *ngFor="let book of bookList | paginate: { id: 'pagination_list', itemsPerPage: 12, currentPage: page, totalItems: totalRecords }">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded h-100">
            <div class="card-body h-100 rounded">
                <h4 class="card-title" class="d-inline-block text-truncate" style="max-width: 150px;" ngbTooltip="{{ book.bookName }}">{{ book.bookName }}</h4>
                <p class="card-text">
                    <b>Book Id: </b> {{ book.id }}<br />
                    <b>Uploader: </b>{{ book.uploaderId }}<br />
                    <b>Author: </b>{{ book.author }}<br />
                    <b>Publisher: </b> {{ book.publisher }}<br />
                    <b>Admin Approval: </b> {{ book.adminApproval == 1 ? 'APPROVED' : 'PENDING' }}<br />
                    <b>Publisher Approval: </b> {{ book.publisherApproval == 1 ? 'APPROVED' : 'PENDING' }}<br />
                    <b>Views: </b> {{ book.countView }}<br />
                    <b>Downloads: </b> {{ book.countDownload }}<br />
                    <b>Time: </b> {{ book.time }}<br />
                </p>
                <div>
                    <button class="btn btn-sm m-1" (click)="clickOnAdminStatus(book.id, 1)" style="color: green;">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-sm m-1" (click)="clickOnAdminStatus(book.id, 0)" style="color: red;">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-sm m-1" (click)="bookToView = book; openXl(viewpdfcontent)" style="color: skyblue;">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <a href="http://localhost:8000/Download/{{ book.fileName.replace('Uploads/', '') }}?bookName={{ book.bookName }}&user_id={{ user.id }}&user_token={{ user.token }}" download>
                        <button class="btn btn-sm m-1" style="color: greenyellow;">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                    </a>
                    <button class="btn btn-sm m-1" (click)="clickOnDelete(book.id)" style="color: red;">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 h-100">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded h-100">
            <div class="card-body h-100 rounded">
                <h5 class="card-title" class="d-inline-block text-truncate" style="max-width: 150px;">Add New Book</h5>
                <p class="card-text">
                    <button class="btn btn-md btn-info m-1 float-right" (click)="open(content)">
                        Add New
                    </button>
                </p>
                <div></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 h-100">
        <div class="card shadow-lg mb-5 bg-white rounded h-100">
            <div class="card-body h-100 rounded">
                <div class="pagination">
                    <pagination-controls id="pagination_list" maxSixe="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
