
<table class="table">
    <thead class="thead-dark">
        <tr >
            <th scope="col">ID</th>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">Publisher</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody class="bg-light">
        <tr *ngFor="let book of bookList" >
            <td>{{book.id}}</td>
            <td>{{book.bookname}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publisher}}</td>
            <td>
                <button class="btn btn-danger" (click)="clickOnDelete(book.id);">
                    <i class="fa fa-trash fa-1x"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>