<div class="box row justify-content-center" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
    <form [formGroup]="signupForm" (ngSubmit)="functionOnSubmit()" class="form-container bg-white p-4 m-4">
        <h2 class="text-dark text-center pb-3">Create Account</h2>
        <div class="form-group color-Gainsboro">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input [ngClass]="{ 'is-invalid': submitted && f.name.errors }" formControlName="name" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter Name" />

                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <select [ngClass]="{ 'is-invalid': submitted && f.role.errors }" class="form-control" formControlName="role">
                    <option disabled value="">Select Role</option>
                    <option value="READER">Reader</option>
                    <option value="PUBLISHER">Publisher</option>
                </select>

                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                    <div *ngIf="f.role.errors.required">Role is required</div>
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="this.f.role.value === 'PUBLISHER'">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                <input type="file" (change)="onFileSelected($event)" class="custom-file-input" accept=".jpg" placeholder="Choose File" />
                <label *ngIf="this.fileToUpload == null" class="custom-file-label">Choose file</label>
                <label *ngIf="this.fileToUpload != null" class="custom-file-label">{{ this.fileToUpload.name }}</label>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                <input [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" type="number" class="form-control" formControlName="mobileNo" placeholder="Enter Mobile No." />

                <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                    <div *ngIf="f.mobileNo.errors.required">MobileNo is required</div>
                    <div *ngIf="!f.mobileNo.errors.required">MobileNo is invalid</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" class="form-control" formControlName="password" id="password" placeholder="Enter Password" />

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="!f.password.errors.required">Password is invalid</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
        </div>
        <p class="small text-center">By clicking the Sign Up button, you agree to our <br /><a routerLink="/terms">Terms &amp; Conditions</a>, and <a routerLink="/privacy">Privacy Policy</a>.</p>
        <div class="text-center">Already have an account? <a routerLink="/login">Login here</a>.</div>
    </form>
</div>
