<ng-template #viewimg let-c="close" let-d="dismiss">
    <div class="modal-header text-white bg-dark">
        <h4 class="modal-title" id="modal-basic-title">Hey, Got Publisher's Id Proof!</h4>
        <button type="button" class="close text-white" style="outline: none;" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding: 30px;">
        <img [src]="getimgURL()" width="100%" height="500px" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Save click')">Close</button>
    </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-white bg-dark">
        <h4 class="modal-title" id="modal-basic-title">Hey, Got new user!</h4>
        <button type="button" class="close text-white" style="outline: none;" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="background-color: white; padding: 30px;">
        <form [formGroup]="signupForm" (ngSubmit)="functionOnSubmit()">
            <div class="form-group">
                <label>Name</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.name.errors }" formControlName="name" type="text" class="form-control" aria-describedby="nameHelp" placeholder="Enter Name" />

                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Role</label>
                <!--<input [(ngModel)]="newUser.role" name="role" type="text" class="form-control" id="role" aria-describedby="roleHelp" placeholder="Enter Role" />-->
                <select [ngClass]="{ 'is-invalid': submitted && f.role.errors }" class="form-control" formControlName="role">
                    <option disabled value="">Select Role</option>
                    <option value="READER">Reader</option>
                    <option value="PUBLISHER">Publisher</option>
                </select>

                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                    <div *ngIf="f.role.errors.required">Role is required</div>
                </div>
            </div>
            <div class="form-group" *ngIf="this.f.role.value === 'PUBLISHER'">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                    <input type="file" (change)="onFileSelected($event)" class="custom-file-input" accept=".jpg" placeholder="Choose File" />
                    <label *ngIf="this.fileToUpload == null" class="custom-file-label">Choose file</label>
                    <label *ngIf="this.fileToUpload != null" class="custom-file-label">{{ this.fileToUpload.name }}</label>
                </div>
            </div>
            <div class="form-group">
                <label>Mobile No</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" type="number" class="form-control" formControlName="mobileNo" placeholder="Enter Mobile No." />

                <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                    <div *ngIf="f.mobileNo.errors.required">MobileNo is required</div>
                    <div *ngIf="!f.mobileNo.errors.required">MobileNo is invalid</div>
                </div>
            </div>
            <div class="form-group">
                <label>password</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" type="password" class="form-control" formControlName="password" id="password" placeholder="Enter Password" />

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="!f.password.errors.required">Password is invalid</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</ng-template>

<div class="card" style="border-radius: 10px; border: transparent;">
    <h5 class="card-header text-white" style="border-radius: 10px; margin: 0; background-color: black;">
        Users On Digital Library
    </h5>
    <div class="card-body">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <table class="table table-sm table-bordered table-striped">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                        <th scope="col">Mobile No.</th>
                        <th scope="col">Password</th>
                        <th scope="col">Status</th>
                        <th scope="col">Time</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let user of userList | paginate: { id: 'pagination_list', itemsPerPage: 2, currentPage: page, totalItems: totalRecords }">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.mobile_no }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.status }}</td>
                        <td>{{ user.time }}</td>
                        <td>
                            <button *ngIf="user.role == 'PUBLISHER'" class="btn btn-sm btn-info m-1" (click)="userToView = user; openXl(viewimg)">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-sm btn-success m-1" (click)="clickOnUpdateStatus(user.id, 'ACTIVE')">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-sm btn-danger m-1" (click)="clickOnUpdateStatus(user.id, 'INACTIVE')">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-sm btn-danger m-1" (click)="clickOnDelete(user.id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td colspan="7"></td>
                        <td>
                            <button class="btn btn-sm btn-info m-1" (click)="open(content)">
                                Add New
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <pagination-controls id="pagination_list" maxSixe="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
