<table class="table table-sm text-center">
    <thead class="thead-dark">
        <tr >
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Password</th>
        </tr>
    </thead>
    <tbody class="bg-light">
        <tr *ngFor="let user of userList">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.role}}</td>
            <td>{{user.mobile_no}}</td>
            <td>{{user.password}}</td>
        </tr>
    </tbody>
</table>