<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-white bg-dark">
        <h4 class="modal-title" id="modal-basic-title">Hey, Got new book!</h4>
        <button type="button" class="close text-white" style="outline: none;" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding: 30px;">
        <form [formGroup]="addBookForm" (ngSubmit)="functionOnSubmit()">
            <div class="form-group">
                <label>Book Name</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.bookName.errors }" formControlName="bookName" type="text" class="form-control" placeholder="Enter Book Name" />

                <div *ngIf="submitted && f.bookName.errors" class="invalid-feedback">
                    <div *ngIf="f.bookName.errors.required">Book Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Author</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.bookAuthor.errors }" formControlName="bookAuthor" type="text" class="form-control" placeholder="Enter Author Name" />

                <div *ngIf="submitted && f.bookName.errors" class="invalid-feedback">
                    <div *ngIf="f.bookAuthor.errors.required">Author Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Publisher</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.bookPublisher.errors }" type="text" class="form-control" formControlName="bookPublisher" placeholder="Enter Publisher Name" />

                <div *ngIf="submitted && f.bookPublisher.errors" class="invalid-feedback">
                    <div *ngIf="f.bookPublisher.errors.required">Publisher Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Book Pdf</label>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" (change)="onFileSelected($event)" id="bookFile" name="bookFile" accept=".pdf" />
                    <label *ngIf="this.fileToUpload == null" class="custom-file-label">Choose file</label>
                    <label *ngIf="this.fileToUpload != null" class="custom-file-label">{{ this.fileToUpload.name }}</label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #viewpdfcontent let-c="close" let-d="dismiss">
    <div class="modal-header text-white bg-dark">
        <h4 class="modal-title" id="modal-basic-title">Hey, Got new book!</h4>
        <button type="button" class="close text-white" style="outline: none;" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding: 30px;">
        <iframe [src]="getBookURL()" width="100%" height="500px"> </iframe>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Save click')">Close</button>
    </div>
</ng-template>

<div class="card" style="border-radius: 10px; border: transparent;">
    <h5 class="card-header text-white" style="border-radius: 10px; margin: 0; background-color: rgba(0, 0, 0, 0.7);">
        Books in Library
    </h5>
    <div class="card-body">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <table class="table table-sm table-bordered table-striped">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th scope="col">ID</th>
                        <th scope="col">Uploader</th>
                        <th scope="col">Book Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Admin Approval</th>
                        <th scope="col">Publisher Approval</th>
                        <th scope="col">Views</th>
                        <th scope="col">Downloads</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let book of bookList | paginate: { id: 'pagination_list', itemsPerPage: 2, currentPage: page, totalItems: totalRecords }">
                        <td>{{ book.id }}</td>
                        <td>
                            <span ngbTooltip="{{ book.uploaderId }}">{{ book.uploaderId }}</span>
                        </td>
                        <td>{{ book.bookName }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.publisher }}</td>
                        <td>{{ book.adminApproval == 1 ? 'APPROVED' : 'PENDING' }}</td>
                        <td>{{ book.publisherApproval == 1 ? 'APPROVED' : 'PENDING' }}</td>
                        <td>{{ book.countView }}</td>
                        <td>{{ book.countDownload }}</td>
                        <td>
                            <button class="btn btn-sm btn-success m-1" (click)="clickOnPublisherStatus(book.id, 1)">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-sm btn-danger m-1" (click)="clickOnPublisherStatus(book.id, 0)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-sm btn-info m-1" (click)="bookToView = book; openXl(viewpdfcontent)">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                            <a href="http://localhost:8000/Download/{{ book.fileName.replace('Uploads/', '') }}?bookName={{ book.bookName }}&user_id={{ user.id }}&user_token={{ user.token }}" download>
                                <button class="btn btn-sm btn-success m-1">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                </button>
                            </a>
                            <button class="btn btn-sm btn-danger m-1" (click)="clickOnDelete(book.id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td colspan="9"></td>
                        <td>
                            <button class="btn btn-sm btn-info m-1" (click)="open(content)">
                                Add New
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <pagination-controls id="pagination_list" maxSixe="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
