<div class="footer">
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(21, 78, 53)">
        <ul style="list-style-type: none; color: white" class="col-md-4 my-1">
            <li class="nav-item" style="outline: none">
                <a class="nav-link p-0" routerLink="/about"><i class="fa fa-caret-right fa-fw"></i>About</a>
            </li>
            <li class="nav-item" style="outline: none">
                <a class="nav-link p-0" routerLink="/contact"><i class="fa fa-caret-right fa-fw"></i>Contact</a>
            </li>
            <li class="nav-item" style="outline: none">
                <a class="nav-link p-0" routerLink="/feedback"><i class="fa fa-caret-right fa-fw"></i>Feedback</a>
            </li>
        </ul>
        <ul style="list-style-type: none; color: white" class="col-md-4 my-1">
            <li class="nav-item" style="outline: none">
                <a class="nav-link p-0" routerLink="/termsandcondition"><i class="fa fa-caret-right fa-fw"></i>Terms and Condition</a>
            </li>
            <li class="nav-item" style="outline: none">
                <a class="nav-link p-0" routerLink="/privacypolicy"><i class="fa fa-caret-right fa-fw"></i>Privacy Policy</a>
            </li>
            <li class="nav-item" style="outline: none">
                <a class="nav-link p-0" routerLink="/cookiespolicy"><i class="fa fa-caret-right fa-fw"></i>Cookies Policy</a>
            </li>
        </ul>
        <div class="row col-md-4 my-1">
            <a routerLink="" class="fa fa-facebook mr-3"></a>
            <a routerLink="" class="fa fa-twitter mr-3"></a>
            <a routerLink="" class="fa fa-youtube-play mr-3"></a>
            <a routerLink="" class="fa fa-instagram"></a>
        </div>
    </nav>
    <div class="footer-copyright text-center py-1" style="background-color: rgb(14, 54, 37); font-size: small; color: white">
        © 2020 Copyright:
        <a href="https://librarymanagment.com/"> Library Managment</a>
    </div>
</div>

<!--<div class="footer footer-expand-lg align-middle" style="height: 100px; background-color: #311570;">
    <div class="text-center text-white">
        <span class="align-middle"><b>Copyright © reserved 2020</b></span>
    </div>
</div>-->
